<div class="main__panel">
    
    <h1 class="employee__length">Сотрудники: <span>{{todos.length}}</span></h1> 

    <label class="main__label">
        <input type="checkbox" name="complited"> 
        <span class="panel__title">Имя</span>
        <span class="panel__title">Фамилия</span>
        <span class="panel__title">Должность</span>
        <span class="panel__title email__title">Почта</span>
        <span class="panel__title mobile__phone">Телефон</span>
        <button class="btn__delete__all btn-delete btn-small" form="complete" name="simplebtn" type="submit" value="delete">Удалить</button>
    </label>
</div>


{{!-- <form action="/complete" method="POST">                        
    <button class="btn btn-delete btn-small" name="simplebtn" type="submit" value="deleteuse">Удалить</button>
</form> --}}

{{#if todos.length}}

    <ul>
        {{#each todos}}
            <li class="todo">
                <form action="/complete" method="POST">                        
                    <label>
                        {{#if complited}}
                        <input type="checkbox" checked name="complited">
                        <span class="completed">{{firstName}}</span>
                        <span class="completed">{{lastName}}</span>
                        <span class="completed email">{{email}}</span>
                        <span class="completed">{{mobilePhone}}</span>
                        {{else}}
                        <input type="checkbox" name="complited">
                        <span class="main__title">{{firstName}}</span>
                        <span class="main__title">{{lastName}}</span>
                        <span class="main__title email">{{email}}</span>
                        <span class="main__title">{{mobilePhone}}</span>                        
                        {{/if}}
                        
                        <input type="hidden" value="{{_id}}" name="id">
                        
                        <button class="btn btn-save btn-small" name="simplebtn" type="submit" value="save">Сохранить</button>
                        <button class="btn btn-delete btn-small" name="simplebtn" type="submit" value="delete">Удалить</button>
                    </label>                        
                </form>
              
            </li>
        {{/each}}
    </ul>
    
{{else}}
    
    <h2 class="main__subtitle">Добавьте сотрудника...</h2>

{{/if}}
