<div class="main__panel">
    <h1 class="employee__length">Сотрудники: <span>{{todos.length}}</span></h1> 

    <div class="main__label"> 
        <span class="panel__title">Имя</span>
        <span class="panel__title">Фамилия</span>
        <span class="panel__title email">Почта</span>
        <span class="panel__title">Телефон</span>
        <button class="btn__delete__all btn-delete btn-small" form="complete" name="simplebtn" type="submit" value="delete">Удалить</button>
    </div>
</div>


{{#if todos.length}}
    <ul class="todo__management">
        {{#each todos}}     
            <li class="todo">
                {{#if complited}}
                    <label>
                        <form action="/complete" class="task__main" id="complete" method="POST">                        
                            <input type="checkbox" checked name="complited">
                            <span class="main__title">{{firstName}}</span>
                            <span class="main__title">{{lastName}}</span>
                            <span class="main__title email">{{email}}</span>
                            <span class="main__title">{{mobilePhone}}</span>

                            <input type="hidden" value="{{_id}}" name="id">
                            <div class="btn__section">
                                <button class="btn__small btn__main large material-icons" name="simplebtn" type="submit" value="save">add</button>
                                <button class="btn__small btn__main large material-icons" name="simplebtn" type="submit" value="rename">edit</button>
                                <button class="btn__small btn__main large material-icons" name="simplebtn" type="submit" value="remove">close</button>
                            </div>
                        </form>
                    </label>  
                {{else}}
                    <label>     
                        <form action="/uncomplete" class="task__main" method="POST">                        
                            <input type="checkbox" name="uncomplited">
                            <span class="main__title">{{firstName}}</span>
                            <span class="main__title">{{lastName}}</span>
                            <span class="main__title email">{{email}}</span>
                            <span class="main__title">{{mobilePhone}}</span>                          
                            
                            <input type="hidden" value="{{_id}}" name="id">
                            <div class="btn__section">
                                <button class="btn__small large material-icons" name="simplebtn" type="submit" value="save">add</button>
                                <button class="btn__small large material-icons" name="simplebtn" type="submit" value="rename">edit</button>
                                <button class="btn__small large material-icons" name="simplebtn" type="submit" value="remove">close</button>
                            </div>
                        </form>
                    </label> 
                {{/if}}                          
            </li>
        {{/each}}
    </ul>
    
{{else}}
    
    <h2 class="main__subtitle">Добавьте сотрудника...</h2>

{{/if}}
