<div class="main__panel">
    
    <h1 class="employee__length">Сотрудники: <span>{{todos.length}}</span></h1> 

    <label class="main__label">
        <input type="checkbox" name="complited"> 
        <span class="panel__title">Имя</span>
        <span class="panel__title">Фамилия</span>
        <span class="panel__title">Должность</span>
        <span class="panel__title email__title">Почта</span>
        <span class="panel__title mobile__phone">Телефон</span>
        <span class="panel__title project__id">Код проекта</span>
        <span class="main__title employee__id">Код сотрудника</span>

        <button class="btn__delete__all btn-delete btn-small" form="complete" name="simplebtn" type="submit" value="delete">Удалить</button>
    </label>
</div>


{{#if todos.length}}
    <ul class="todo__management">
        {{#each todos}}     
            <li class="todo">
                {{#if complited}}
                    <label form="complete" name="labelbtn" value="add">
                        <form action="/complete" class="complete__main" id="complete" method="POST">                        
                            <input type="checkbox" checked name="complited">
                            <span class="main__title first__name">{{firstName}}</span>
                            <span class="main__title last__name">{{lastName}}</span>
                            <span class="main__title job__title">{{jobTitle}}</span>
                            <span class="main__title email__title">{{email}}</span>
                            <span class="main__title mobile__phone">{{mobilePhone}}</span>
                            <span class="main__title project__id__main">{{projectId}}</span>
                            <span class="main__title employee__id__main">{{employeeId}}</span>

                            <input type="hidden" value="{{_id}}" name="id">

                            <div class="btn__section">
                                <button class="btn__small btn__main large material-icons" name="simplebtn" type="submit" value="save">add</button>
                                <button class="btn__small btn__main large material-icons" name="simplebtn" type="submit" value="rename">edit</button>
                                <button class="btn__small btn__main large material-icons" name="simplebtn" type="submit" value="remove">close</button>
                            </div>
                        </form>
                    </label>  
                {{else}}
                    <label>     
                        <form action="/uncomplete" class="complete__main" method="POST">   
                            <input type="checkbox" name="uncomplited">
                            <span class="main__title first__name">{{firstName}}</span>
                            <span class="main__title last__name">{{lastName}}</span>
                            <span class="main__title job__title">{{jobTitle}}</span>
                            <span class="main__title email__title">{{email}}</span>
                            <span class="main__title mobile__phone">{{mobilePhone}}</span>
                            <span class="main__title project__id__main">{{projectId}}</span>
                            <span class="main__title employee__id__main">{{employeeId}}</span>

                            <input type="hidden" value="{{_id}}" name="id">

                            <div class="btn__section">
                                <button class="btn__small large material-icons" name="simplebtn" type="submit" value="save">add</button>
                                <button class="btn__small large material-icons" name="simplebtn" type="submit" value="rename">edit</button>
                                <button class="btn__small large material-icons" name="simplebtn" type="submit" value="remove">close</button>
                            </div>
                        </form>
                    </label> 
                {{/if}}                          
            </li>
        {{/each}}
    </ul>
    
{{else}}
    
    <h2 class="main__subtitle">Добавьте сотрудника...</h2>

{{/if}}
