<h2>Сотрудники</h2>

{{#if todos.length}}
    <ul>
        {{#each todos}}
            <li class="todo">
                <form action="/complete" method="POST">
                    <label>
                        {{#if complited}}
                        <input type="checkbox" checked name="complited">
                        <span class="completed">{{firstName}}</span>
                        <span class="completed">{{lastName}}</span>
                        <span class="completed email">{{email}}</span>
                        <span class="completed">{{mobilePhone}}</span>
                        {{else}}
                        <input type="checkbox" name="complited">
                        <span class="main__title">{{firstName}}</span>
                        <span class="main__title">{{lastName}}</span>
                        <span class="main__title email">{{email}}</span>
                        <span class="main__title">{{mobilePhone}}</span>                        
                        {{/if}}
                        
                        <input type="hidden" value="{{_id}}" name="id">
                        
                        <button class="btn btn-small" name="save__btn" type="submit">Сохранить</button>
                        <button class="btn btn-small" name="delete__btn" type="submit">Удалить</button>

                    </label>                        
                </form>
            </li>
        {{/each}}
    </ul>

    {{else}}
    
    <p>No todos!</p>

{{/if}}