<div class="main__panel__tasks">
    <label class="main__label__tasks">
        <h2 class="projects__length">Проекты: <span>{{projects.length}}</span></h2> 
    </label>
</div>

{{#if projects.length}}
    <ul class="management__projects">
        {{#each projects}}     
            {{#if complited}}
                <li class="projects__li__color">
                    <article class="colorProject" form="completeTask"  name="labelbtn" value="add">                   
                        <form action="/completeTask" id="complete" method="POST">  
                            <div class="titles__section">
                                <div class="task__main">
                                    <span class="main__title">Название проекта:</span>
                                    <span class="main__title">Описание:</span>
                                    <span class="main__title">Дата начала:</span>
                                    <span class="main__title">Дата окончания:</span>
                                    <span class="main__title">Штат:</span>
                                    <span class="main__title">Клиент:</span>
                                    <span class="main__title">Код проекта:</span>
                                </div>                 
                                    
                                <div class="task__main">
                                    <span class="main__title title__of__project name__Project">{{nameOfProject}}</span>
                                    <span class="main__title title__of__project description">{{description}}</span>
                                    <span class="main__title title__of__project data_started">{{dataStarted}}</span>
                                    <span class="main__title title__of__project data_endend">{{dataEndend}}</span>
                                    <span class="main__title title__of__project team">{{team}}</span>
                                    <span class="main__title title__of__project client">{{client}}</span>
                                    <span class="main__title title__of__project projectId">{{projectId}}</span>
                                </div>
                            </div>

                            <input type="hidden" value="{{_id}}" name="id">
                            
                            
                            <div class="btn__section__tasks">
                                <button class="btn__small btn__main large material-icons" name="simplebtn" type="submit" value="save">add</button>
                                <button class="btn__small btn__main large material-icons" name="simplebtn" type="submit" value="renameTask">edit</button>
                                <button class="btn__small btn__main large material-icons" name="simplebtn" type="submit" value="remove">close</button>
                            </div>
                        </form>
                    </article>  
                </li>
            {{else}}
                <li class="projects__li">
                    <article>     
                        <form action="/uncompleteTask" method="POST">
                            <div class="titles__section">
                                <div class="task__main">
                                    <span class="main__title">Название проекта:</span>
                                    <span class="main__title">Описание:</span>
                                    <span class="main__title">Дата начала:</span>
                                    <span class="main__title">Дата окончания:</span>
                                    <span class="main__title">Штат:</span>
                                    <span class="main__title">Клиент:</span>
                                    <span class="main__title">Код проекта:</span>
                                </div>

                                <div class="task__main">
                                    <span class="main__title title__of__project name__Project">{{nameOfProject}}</span>
                                    <span class="main__title title__of__project description">{{description}}</span>
                                    <span class="main__title title__of__project data_started">{{dataStarted}}</span>
                                    <span class="main__title title__of__project data_endend">{{dataEndend}}</span>
                                    <span class="main__title title__of__project team">{{team}}</span>
                                    <span class="main__title title__of__project client">{{client}}</span>
                                    <span class="main__title title__of__project projectId">{{projectId}}</span>
                                </div>
                            </div>

                            <input type="hidden" value="{{_id}}" name="id">

                            <div class="btn__section__tasks">
                                <button class="btn__small large material-icons" name="simplebtn" type="submit" value="save">add</button>
                                <button class="btn__small large material-icons" name="simplebtn" type="submit" value="renameTask">edit</button>
                                <button class="btn__small large material-icons" name="simplebtn" type="submit" value="remove">close</button>
                            </div>
                        </form>
                    </article>
                </li> 
            {{/if}}                          
        {{/each}}
    </ul>
{{else}}
    <h2 class="main__subtitle">Добавьте сотрудника...</h2>
{{/if}}